/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --section-hero-footer-bg: #2f303a;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  margin-right: 93px;
}

.logo-accent {
  color: var(--accent-color);
}

.logo-white {
  color: #ffffff;
}

.logo-black {
  color: #000000;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.social-list {
  display: flex;
  justify-content: left;
  align-items: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.title {
  color: var(--title-text-color);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.contacts {
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.71;
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.contacts:hover .smartphone-icon,
.contacts:focus .smartphone-icon {
  fill: var(--accent-color);
}

.contacts:hover .envelope-icon,
.contacts:focus .envelope-icon {
  fill: var(--accent-color);
}

.contacts.mail {
  margin-left: auto;
  margin-right: 50px;
}

.envelope-icon {
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(48, 48, 48, 0.5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 580px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close__btn:hover,
.modal-close__btn:focus {
  fill: var(--accent-color);
}

.modal-close__icon {
  width: 18px;
  height: 18px;
}

.modal-form__title {
  color: #212121;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__field {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}

.modal-form__wrapper {
  display: block;
  position: relative;
  margin-top: 6px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  background-color: transparent;
  transition: background-color 250ms linear;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  margin-top: 6px;
  padding: 15px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms linear;
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__message::placeholder {
  text-transform: initial;
  color: rgba(85, 85, 85, 0.5);
}

.modal-form__desc {
  font-size: 14px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__desc::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 7px;
}

.modal-form__check:focus + .modal-form__desc::before {
  outline: 1px solid blue;
  outline-offset: 1px;
}

.modal-form__check:checked + .modal-form__desc::before {
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
}

.modal-form__button {
  padding: 10px 55px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 200px;
  height: 50px;
  margin: 0 auto;
  text-transform: capitalize;
}

.modal-form__button:hover,
.modal-form__button:active {
  background-color: #188ce8;
}

.header-contacts__gray {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.17;
}

.page-header {
  background-color: var(--main-bg-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: solid 1px #ececec;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.site-nav__link.site-nav__link--active {
  color: var(--accent-color);
  position: relative;
}

.site-nav__link.site-nav__link--active::after {
  display: block;
  position: absolute;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  content: "";
}

.navigation {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .site-nav__link {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .site-nav__link:hover,
.site-nav .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav.list {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.section.hero {
  max-width: 100%;
  height: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-align: center;
}

.hero-button {
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:active {
  background-color: #188ce8;
}

.hero .section.advantages {
  background-color: var(--main-bg-color);
}

.section.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list .title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.17;
  margin-bottom: 10px;
  text-align: center;
}

.team-list p {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.team-list__name {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item .social-list__icon {
  fill: #afb1b8;
}

.team-list__item .social-list__link {
  background-color: #ffffff;
}

.team-list__item .social-list__link:hover,
.team-list__item .social-list__link:focus {
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list .button {
  color: #212121;
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-right: 20px;
  padding-left: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.samples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.samples-list a {
  text-decoration: none;
}

.samples-list .title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 4px;
}

.samples-list p {
  font-size: 16px;
  line-height: 1.875;
  color: var(--primary-text-color);
}

.samples-list__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.samples-list__item:hover,
.samples-list__item:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.samples-list__item .samples-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 64px 23px;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.55;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.samples-list__wrapper {
  position: relative;
  overflow: hidden;
}

.samples-list__link:hover .samples-list__overlay,
.samples-list__link:focus .samples-list__overlay {
  transform: translateY(0%);
}

.portfolio-list__item:not(:first-child) {
  margin-left: 8px;
}

portfolio-list__button:active,
portfolio-list__button:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}

.samples-list__name {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.social-footer .social-list__link {
  background-color: #44464e;
}

.social-footer .social-list__link:hover,
.social-footer .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-footer .social-list__icon {
  fill: #ffffff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-hero-footer-bg);
}

.footer .logo-white {
  margin-top: 60px;
}

.footer address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-top: 20px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.social-footer .title {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-list__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.footer-list__item.join-form {
  flex-grow: 2;
}

.footer-contacts__grey {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.join-form__text {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-size: 14px;
  text-transform: uppercase;
}

.join-form__input {
  background-color: transparent;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  color: #ffffff;
}

.join-form__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.6);
}

.join-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.join-form__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  padding-left: 29px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;
}

.join-form__button:hover,
.join-form__button:focus {
  background-color: #188ce8;
}

.join-form__form {
  display: flex;
}

.section.features {
  padding-top: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.features-list__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
  position: relative;
}

.features-list__item .overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: solid 1px #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
  border: 1px solid var(--accent-color);
}

.clients-list__logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__logo,
.clients-list__link:focus .clients-list__logo {
  fill: var(--accent-color);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.advantages-list p {
  font-size: 14px;
  line-height: 1.71;
}

.advantages-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  text-transform: uppercase;
}

.advantages-list__item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 4 * 30px) / 4);
}

.advantages-list__item:nth-child(1)::before {
  background-image: url("../images/antenna.svg");
}

.advantages-list__item:nth-child(2)::before {
  background-image: url("../images/clock.svg");
}

.advantages-list__item:nth-child(3)::before {
  background-image: url("../images/diagram.svg");
}

.advantages-list__item:nth-child(4)::before {
  background-image: url("../images/astronaut.svg");
}

.advantages-list__item::before {
  display: block;
  height: 120px;
  content: "";
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=main.css.map */
