.social-footer {
  & .social-list__link {
    background-color: #44464e;
    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  & .social-list {
    @media screen and(min-width:1200px) {
      justify-content: flex-start;
    }
  }
}

.social-footer .social-list__icon {
  fill: #ffffff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-hero-footer-bg);

  & .logo-white {
    margin-right: 0;
  }

  & address {
    color: #ffffff;
    font-size: $font-size-primary;
    line-height: 1.71;
    font-style: normal;
    margin-top: 20px;
  }
}

.social-footer .title {
  font-size: $font-size-primary;
  color: #ffffff;
  letter-spacing: $letter-spacing-primary;
  line-height: $line-height-primary;
  text-transform: uppercase;
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-list__item {
  margin-left: 60px;
  margin-top: 60px;
  flex-basis: calc(100% - 60px);
  justify-content: center;

  @media screen and(min-width: 768px) {
    flex-basis: calc((100% - 2 * 60px) / 2);
  }
  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 4 * 60px) / 4);

    &:last-child {
      flex-basis: calc((100% - 2 * 60px) / 2);
    }
  }
  &.join-form {
    flex-grow: 2;
  }
  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
.footer-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  margin-top: -60px;
}
.footer-contacts__grey {
  margin-top: 9px;
}

.footer-contacts__grey {
  color: rgba(255, 255, 255, 0.6);
}

.join-form__text {
  color: #ffffff;
  font-weight: $font-weight-bold;
  letter-spacing: $letter-spacing-primary;
  line-height: $line-height-primary;
  font-size: $font-size-primary;
  text-transform: uppercase;
  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-bottom: 20px;
  }
}

.join-form__input {
  background-color: transparent;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  color: #ffffff;
  max-width: 450px;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    max-width: 358px;
  }

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: $letter-spacing-primary;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.6);
  }
}

.join-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-right: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.join-form__button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  width: 200px;
  padding-left: 29px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.join-form__form {
  display: flex;
  align-items: flex-start;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    align-items: center;
  }
}
