@media screen and (max-width: 767px) {
  .page-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .site-nav {
    display: none;
  }

  .header-contacts__gray {
    display: none;
  }
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
    &__mobile-icon {
      width: 40px;
      height: 40px;
      fill: #000000;
    }
    &__mobile-btn {
      background-color: transparent;
      border: 0;
      padding: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    &__mobile-btn {
      display: none;
    }
  }
}

// .header-contacts__gray {
//   color: var(--primary-text-color);
//   font-weight: 500;
//   line-height: $line-height-primary;
// }

// .page-header {
//   background-color: var(--main-bg-color);
//   padding-top: 24px;
//   padding-bottom: 25px;
//   border-bottom: solid 1px #ececec;
//   & .container {
//     display: flex;
//     align-items: center;
//   }
// }

// .site-nav__link.site-nav__link--active {
//   color: var(--accent-color);
//   position: relative;

//   &::after {
//     display: block;
//     position: absolute;
//     bottom: -33px;
//     width: 100%;
//     height: 4px;
//     border-radius: 2px;
//     background-color: var(--accent-color);
//     content: "";
//   }
// }

// .navigation {
//   display: flex;
//   align-items: center;
// }

// .site-nav__item:not(:last-child) {
//   margin-right: 50px;
// }

// .site-nav .site-nav__link {
//   color: var(--title-text-color);
//   font-size: $font-size-primary;
//   line-height: $line-height-primary;
//   font-weight: 500;
//   text-decoration: none;
//   letter-spacing: 0.02em;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .site-nav.list {
//   display: flex;
//   align-items: center;
//   padding-left: 0;
// }
