.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 50px;
  }

  & .button {
    color: #212121;
    background-color: #f5f4fa;
    font-size: 16px;
    line-height: 1.625;
    font-weight: 500;
    border: 0;
    border-radius: 4px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-right: 20px;
    padding-left: 20px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.samples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;

  & a {
    text-decoration: none;
  }

  & .title {
    font-size: 18px;
    font-weight: $font-weight-bold;
    line-height: 2;
    margin-bottom: 4px;
  }

  & p {
    font-size: 16px;
    line-height: 1.875;
    color: var(--primary-text-color);
  }
}

.portfolio-list__item {
  margin-top: 15px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.samples-list__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc(100% - 30px);
  margin-left: 30px;
  margin-top: 30px;
  & .samples-list__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 64px 23px;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: $letter-spacing-primary;
    line-height: 1.55;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and(min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
  &:hover,
  &:active {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.samples-list__wrapper {
  position: relative;
  overflow: hidden;
}

.samples-list__link:hover .samples-list__overlay,
.samples-list__link:focus .samples-list__overlay {
  transform: translateY(0%);
}

.portfolio-list__item:nth-child(2) {
  min-width: 129px;
}

.portfolio-list__button:active,
.portfolio-list__button:hover {
  color: #ffffff;
  background-color: var(--accent-color);
}

.samples-list__name {
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
