.contacts {
  font-size: $font-size-primary;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.71;
  &:hover,
  &:focus {
    color: var(--accent-color);

    & .smartphone-icon {
      fill: var(--accent-color);
    }
    & .envelope-icon {
      fill: var(--accent-color);
    }
  }
}

.envelope-icon {
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.smartphone-icon {
  width: 10px;
  height: 16px;
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
