@media screen and (max-width: 767px) {
  .footer-contacts-list__item.phone {
    margin-bottom: 32px;
  }
  .footer-contacts-list__item.email {
    margin-bottom: 64px;
  }
  .mobile-menu {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &__footer-wrapper {
      margin-top: auto;
    }

    &__social-item:not(:last-child):after {
      content: "";
      margin-left: 10px;
      margin-right: 10px;
      width: 22px;
      border: 1px solid rgba(33, 33, 33, 0.2);
    }

    &__social-links {
      font-size: 18px;
      line-height: 1.22;
      font-weight: 500;
      letter-spacing: 0.02em;
      color: var(--accent-color);
    }
    &__social-list {
      display: flex;
      flex-wrap: wrap;
    }
    &__nav-link {
      text-decoration: none;
      font-size: 40px;
      font-weight: 500;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: var(--title-text-color);
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
      &--active {
        color: var(--accent-color);
      }
    }

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    &__container {
      padding-left: 24px;
      padding-right: 0;
      position: relative;
      padding-top: 48px;
      padding-bottom: 48px;
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      overflow: auto;
      min-height: 100vh;
    }

    &__nav-phone {
      font-size: 34px;
      font-weight: 500;
      color: var(--accent-color);
      text-decoration: none;
    }

    &__close-btn {
      background-color: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 15px;
    }

    &__close-icon {
      fill: #000000;
      width: 40px;
      height: 40px;
      &:hover,
      &:focus {
        fill: var(--accent-color);
      }
    }

    &__nav-item {
      margin-bottom: 32px;
    }

    &__nav-email {
      font-size: 24px;
      line-height: 1.17;
      font-weight: 500;
      letter-spacing: 0.02;
      text-decoration: none;
      color: #757575;
      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }
}

@media screen and(min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
