.title {
  color: var(--title-text-color);
}

.section-title {
  font-size: 36px;
  font-weight: $font-weight-bold;
  line-height: $line-height-primary;
  text-align: center;
  margin-bottom: 50px;
}
