html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

p {
  margin-bottom: 20px;
}
p:last-child {
  margin-bottom: 0;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  letter-spacing: $letter-spacing-primary;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}
