:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --title-text-color: #212121;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --section-hero-footer-bg: #2f303a;
}

$font-size-primary: 14px;
$letter-spacing-primary: 0.03em;
$font-weight-bold: 700;
$line-height-primary: 1.17;
